div(id="hw-health-dropdown" class="hidden")
	li(class="left")
		a(class="menu-button" href="#")
			+navbar_led("hw-health-undervoltage-led", "led-undervoltage", "hidden")
			+navbar_led("hw-health-overheating-led", "led-overheating", "hidden")
		div(class="menu")
			+menu_message("warning", "Raspberry Pi's health is at risk")
				| 这不是演示！红色图标表示当前问题,#[br]
				| 自设备启动后观察到的黄色
			div(id="hw-health-message-undervoltage" class="hidden")
				hr
				+menu_message("led-undervoltage", "Undervoltage detected", "led-gray")
					| 确保您的电源和电缆提供#[br]
					| 足够的电为树莓派 (3A minimum)
			div(id="hw-health-message-overheating" class="hidden")
				hr
				+menu_message("led-overheating", "Overheating detected", "led-gray")
					| 过热导致的频次上限,#[br]
					| 改善树莓派的散热

div(id="fan-health-dropdown" class="hidden")
	li(class="left")
		a(class="menu-button" href="#")
			+navbar_led("fan-health-led", "led-fan", "hidden")
		div(class="menu")
			+menu_message("warning", "Raspberry Pi's health is at risk")
				| 这不是演示！红色图标表示当前问题,#[br]
				| 过去观察到的黄色
			div(id="fan-health-message-fail")
				hr
				+menu_message("led-fan", "Fan failed", "led-gray")
					| 发生风扇错误，请检查日志
