li(id="atx-dropdown" class="right feature-disabled")
	a(class="menu-button" href="#")
		+navbar_led("atx-power-led", "led-atx-power")
		+navbar_led("atx-hdd-led", "led-atx-hdd")
		span ATX
	div(class="menu")
		div(class="text")
			b 控制服务器的电源#[br]
			sub 使用短按关闭 ACPI
		hr
		+menu_switch("atx-ask-switch", "Ask click confirmation", true, true)
		hr
		div(class="buttons")
			button(disabled data-force-hide-menu id="atx-power-button") &bull; 点击电源 #[sup #[i short]]
			button(disabled data-force-hide-menu id="atx-power-button-long") &bull; 点击电源 #[sup #[i long]]
			hr
			button(disabled data-force-hide-menu id="atx-reset-button") &bull; 单击重置
