li(id="text-dropdown" class="right")
	a(class="menu-button" href="#")
		+navbar_led("stream-ocr-led", "led-gear", "feature-disabled")
		span 文本
	div(id="text-menu" class="menu")
		div(class="text")
			b 将文本粘贴为按键序列#[br]
			sub 请注意 PiKVM 无法切换键盘布局
		hr
		div(class="text" style="margin-right: 20px")
			textarea(id="hid-pak-text" placeholder="在这里输入您的文字")
		table(class="kv")
			tr
				td
					button(disabled data-force-hide-menu id="hid-pak-button") &bull; 粘贴
				td 使用主机键盘映射
				td
					select(id="hid-pak-keymap-selector")
		table(class="kv")
			tr
				+menu_switch_notable("hid-pak-ask-switch", "询问粘贴确认", true, true)
			tr(id="hid-pak-secure" class="feature-disabled")
				+menu_switch_notable("hid-pak-secure-switch", "隐藏输入文本", true, false)
		div(id="stream-ocr" class="feature-disabled")
			hr
			br
			hr
			div(class="text")
				b 文字识别 <sup><i>&beta;</i></sup>#[br]
				sub #[a(target="_blank" href="https://docs.pikvm.org/ocr") OCR] 在 PiKVM 本地工作
			hr
			table(class="kv")
				tr
					td
						button(data-force-hide-menu id="stream-ocr-button") &bull; 选择区域
					td 为
					td
						select(id="stream-ocr-lang-selector")
					td 文字识别
			table(class="kv")
				tr
					td(colspan="4") &bull; 按 #[b Enter] 识别文本并将其复制到剪贴板
				tr
					td(colspan="4") &bull; 按 #[b Esc] 取消选择
				tr
					td
