li(id="msd-dropdown" class="right feature-disabled")
	a(class="menu-button" href="#")
		+navbar_led("msd-led", "led-msd")
		span 驱动
	div(id="msd-menu" class="menu")
		div(class="text")
			b 海量存储驱动器: 
			span(id="msd-status")
			br
		hr
		div(id="msd-message-offline" class="hidden")
			+menu_message("warning", "海量存储驱动器离线")
			hr
		div(id="msd-message-image-broken" class="hidden")
			+menu_message("warning", "Current image is broken!")
				| 可能上传中断了#[br]
			hr
		div(id="msd-message-too-big-for-cdrom" class="hidden")
			+menu_message("warning", "Current image is too big for CD-ROM!")
				| 设备文件系统将被截断为 2.2GiB
			hr
		div(id="msd-message-out-of-storage" class="hidden")
			+menu_message("warning", "Current image is out of storage")
				| 此图像是使用手动连接的 #[b kvmd-otgmsd]
			hr
		div(id="msd-message-rw-enabled" class="hidden")
			+menu_message("warning", "Read-write mode is enabled")
				| PiKVM 处于活动状态时不要关闭它以防止文件系统损坏#[br]
				| 尽可能使用只读模式,#[br]
				| 因为经常写入 SD 卡会缩短其使用寿命。
			hr
		div(id="msd-message-downloads" class="hidden")
			+menu_message("info", "The image is being downloaded from PiKVM")
				| 请稍等
			hr
		table(class="kv")
			tr
				td 镜像:
				td(width="100%") #[select(disabled id="msd-image-selector")]
				td #[button(disabled id="msd-download-button" title="Download image") &nbsp;&nbsp;&#128426;&nbsp;&nbsp;]
				td #[button(disabled id="msd-remove-button" title="Remove image") #[b &nbsp;&nbsp;&times;&nbsp;&nbsp;]]
		table(class="kv msd-cdrom-emulation feature-disabled")
			tr
				td 驱动 #[a(target="_blank" href="https://docs.pikvm.org/msd") 模式]:
				td
					div(class="radio-box")
						input(checked type="radio" id="msd-mode-radio-cdrom" name="msd-mode-radio" value="1")
						label(for="msd-mode-radio-cdrom") CD-ROM
						input(type="radio" id="msd-mode-radio-flash" name="msd-mode-radio" value="0")
						label(for="msd-mode-radio-flash") Flash
				td &nbsp;
				+menu_switch_notable("msd-rw-switch", "Writable", false, false, "msd-rw feature-disabled")
		hr
		div(class="text")
			div(id="msd-storage-progress" class="progress")
				span(id="msd-storage-progress-value" class="progress-value")
		hr
		div(class="buttons buttons-row")
			button(disabled id="msd-select-new-button" class="row50") 选择要上传的镜像
			button(disabled id="msd-upload-new-button" class="row25") 上传
			button(disabled id="msd-abort-new-button" class="row25") 中止
		div(id="msd-message-another-user-uploads" class="hidden")
			hr
			+menu_message("info", "Another user uploads an image")
		div(id="msd-new-sub" class="hidden")
			hr
			table(class="kv")
				tr
					td 指定本地文件:
					td #[input(type="file" id="msd-new-file")]
				tr
					td #[b Or] 粘贴一个网址:
					td #[input(type="text" id="msd-new-url" style="width: 100%")]
			hr
			table(class="kv")
				tr
					td(class="value") 注意:
					td &bull; 上传完成前不要关闭浏览器页面.
				tr
					td
					td &bull; 要加快上传速度，请关闭流窗口。
		div(id="msd-uploading-sub" class="hidden")
			hr
			table(class="kv")
				tr
					td 新镜像:
					td(id="msd-uploading-name" class="value")
				tr
					td 上传大小:
					td(id="msd-uploading-size" class="value")
			div(class="text")
				div(id="msd-uploading-progress" class="progress")
					span(id="msd-uploading-progress-value" class="progress-value")
		hr
		div(class="buttons buttons-row")
			button(disabled id="msd-connect-button" class="row50") 将驱动器连接到服务器
			button(disabled id="msd-disconnect-button" class="row25") 断开
			button(disabled id="msd-reset-button" class="row25") 重置
