extends start.pug

append vars
	- title = "PiKVM 首页"
	- main_js = "index/main"
	- css_list = css_list.concat(["window", "modal", "index/index"])

block start
	table
		tr
			td(class="logo")
				img(class="svg-gray" src=`${svg_dir}/logo.svg` alt="PiKVM" height="40")
			td
				table
					tr #[td(colspan="2" class="title") 开源IP-KVM]
					tr
						td(colspan="2" class="copyright")
							| Copyright &copy; 2018-2022 #[a(target="_blank" href="mailto:mdevaev@gmail.com") Maxim Devaev]

	hr
	table
		td(class="server")
			td 服务器:
			td #[a(id="kvmd-meta-server-host" target="_blank" href="/api/info")]

	hr
	div(id="apps-box")
		h4 加载中 ...

	div(id="app-keyboard-warning")
		hr
		p(class="text")
			| 请注意，当您使用 KVM 会话或其他捕获键盘的应用程序时,
			| 您不能使用某些键盘快捷键，例如 Ctrl+Alt+Del（将被您的操作系统捕获）或Ctrl+W（被您的浏览器捕获）。
		p(class="text")
			| 要覆盖此限制，您可以使用 #[a(target="_blank" href="https://google.com/chrome") 谷歌浏览器]
			| 或 #[a(target="_blank" href="https://chromium.org/Home") Chromium] 在应用程序模式。
		div(id="app-text" class="code")

	hr
	p(class="text credits")
		a(target="_blank" href="https://pikvm.org") PiKVM项目
		| &nbsp; | &nbsp;
		a(target="_blank" href="https://docs.pikvm.org") 文档
		| &nbsp; | &nbsp;
		a(target="_blank" href="https://pikvm.org/support") 支持
